.contactForm {
    height: 80vh;
    background-color: #f9f0f2;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;

}

.name {
    margin-top: 8em;
}

.name,
.email,
.topic,
.comment {
    margin-bottom: 2em;
}

.comment label {
    margin-left: 1em
}

.name label,
.email label {
    margin-right: 0.5em
}

.topic select,
.name input,
.email input {
    width: 50%;
    float: right;
    background-color: #f6e3e8;
    font-size: 1em;
}

.topic select {
    width: 50.5%;
}

.comment textarea {
    width: 50%;
    float: right;
    margin-bottom: 5em;
    background-color: #f6e3e8;
}

.button {
    cursor: pointer;
}

.button button {
    float: right;
    width: 10%;
    margin: 2em 0 1em 3em;
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    background-color: #bb5644;
    color: white;
    border: none;
}

.button button:hover {
    background-color: white;
    color: #bb5644;
    border: 1px solid #bb5644
}

.button button:disabled {
    cursor: not-allowed;
}

.error {
    width: 100%;
    color: red;
    font-size: 1.2em;
    margin-left: 2em;
    margin-top: -2em;
}