@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.Header {
    height: 11vh;
    max-width: 100%;
    background-color: #f6e3e8;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1199.98px) {
    .logo {
        width: auto;
        height: 80px;
    }

    .logo img {
        margin-top: 1em;
        width: 70%;
    }
}

@media (max-width: 991.98px) {
    .logo img {
        margin-top: 1em;
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .logo {
        width: 20%;
        margin-top: 0.6em;
    }

    .logo img {
        margin-top: 1em;
        width: 80%;
    }
}