@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.Header {
    height: 11vh;
    background-color: #f6e3e8;
}

.navbar {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.elements,
.logo,
.search input {
    margin-top: 1em;
}

.menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.menu li {
    list-style-type: none;
    width: 9em;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.menu li a:link,
.menu li a:visited,
.menu li a:hover,
.menu li a:active {
    text-decoration: none;
    color: #bb5644;
}

.menu li a:hover {
    border-bottom: 4px solid #bb5644;
}

.logo {
    width: 20%;

}

.logo img {
    width: 40%;
}

.search {
    width: 27%;
    margin-top: 1em;
    position: relative;
}

.search input {
    float: right;
    margin-right: 1em;
    width: 70%;
    padding: 10px 30px 10px 10px;
    display: block;
}

.search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: 0;
    padding: 18px 20px;
    z-index: 2;
}

.search button i {
    color: #bb5644;
    font-size: larger;
}

.search input:focus+button .fa-search {
    color: red;
}