.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form label,
.total {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.color,
.size,
.wrapping {
    text-align: left;
    margin: 0 0 2em 2em;
}

.color select,
.size select {
    width: 50%;
    float: right;
    background-color: #f6e3e8;
    font-size: 1em;
}

.color select option::first-letter {
    text-transform: uppercase;
}

.wrapping input {
    float: right;
    transform: scale(1.5);
    accent-color: #f6e3e8;
}

.total {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.button button {
    width: 50%;
    margin: 2em 0 1em 3em;
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    background-color: #bb5644;
    color: white;
    border: none
}

.button button:hover {
    background-color: white;
    color: #bb5644;
    border: 1px solid #bb5644
}


@media (max-width: 767.98px) {}


@media (max-width: 575.98px) {
    .form {
        width: 100%;
    }

    .form label,
    .total {
        font-size: 1.2em;
    }

    .color select,
    .size select {
        font-size: 1em;
        margin-right: 1em;
    }

    .wrapping input {
        margin-right: 1.5em;

    }

    .button button {
        margin: 2em 3em 1em 3em;
    }
}