.items {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(6, 1fr);
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
}

.size {
    text-transform: uppercase;
}

.changequantity {
    display: flex;
    flex-direction: row;
}

.changequantity button {
    height: 2em;
    width: 2em;
    border: 0.6px solid grey;
    background-color: transparent;
}

.changequantity .add {
    margin-left: 1em;
    padding: 0 0.1em 0.1em 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.changequantity .delete {
    margin-left: 3.3em;
    margin-right: 1em;
    padding: 0 0 0.1em 0.1em;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.remove {
    background-color: transparent;
    border: none;
}