.form {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form label,
.total {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}

.color h5,
.sizes h4 {
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: underline;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin: 3em;
    row-gap: 2em;
}


.content input {
    float: right;
    margin-right: 3em;
    transform: scale(1.5);
}

.total {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    font-size: 1.3em;
}

.button button {
    width: 50%;
    margin: 3em 0 0 8em;
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    background-color: #bb5644;
    color: white;
    border: none
}

.button button:hover {
    background-color: white;
    color: #bb5644;
    border: 1px solid #bb5644
}

.button button:disabled {
    cursor: not-allowed;
}

.swal2-popup {
    font-size: 10em !important;
}


@media (max-width: 767.98px) {}


@media (max-width: 575.98px) {
    .form {
        width: 100%;
    }

    .form label,
    .total {
        font-size: 1.2em;
    }

    .button button {
        margin: 2em 3em 1em 3em;
    }
}