.home {
    min-height: 100vh;
    max-width: 100%;
    background-color: #f6e3e8;
    margin-top: -1.4em;
}

.section {
    margin: 4em auto auto auto;
    height: 16vh;
    width: 80%;
    display: flex;
    justify-content: space-around;

}

.section h3 {
    font-size: 3em;
    margin: 1em 3em 0 3em;

}

.section h4 {
    font-size: 1.3em;
    text-align: center;
}

.section section {
    line-height: 170%;
    font-family: 'Indie Flower', cursive;
}


@media (max-width: 1199.98px) {
    .section {
        margin: 5em 0 0 0;
        height: 17vh;
        width: 100%;
        display: flex;
    }

    .section h3 {
        font-size: 2em;
    }

    .section h4 {
        font-size: 1em
    }
}


@media (max-width: 767.98px) {
    .section {
        margin: 5em 0 0 0;
        height: 15vh;
    }

    .section h3 {
        font-size: 1.5em;
    }

    .section h4 {
        font-size: 0.8em
    }

    .section section {
        line-height: 130%;
    }
}

@media (max-width: 575.98px) {
    .section {
        margin: 5em auto auto auto;
        height: 15vh;
        max-width: 80%;
    }

    .section h3 {
        font-size: 1.5em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}