.sectionTypes {
    height: 34vh;
    background-color: #626262;
    padding-top: 1em;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.title h2 {
    color: #fdfce9;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.title {
    margin-bottom: 4em;
}

.sectionTypes img {
    height: 40%;
}

.categories figure {
    width: 100%;
}

.categories figcaption {
    color: #fdfce9;
    margin-top: 1em;
}

.categories button {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
}

.categories button img {
    width: 40%;
}

.sectionTypes img:hover {
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}


@media (max-width: 1199.98px) {
    .sectionTypes {
        height: 20vh;
    }

    .title {
        margin-bottom: 2em;
    }
}


@media (max-width: 767.98px) {
    .sectionTypes {
        height: 45vh;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }

    .category {
        margin-top: 1em;
    }

    .categories figure {
        width: 100%;
    }

    .sectionTypes img {
        height: 100%;
    }
}