.summary {
    width: 100%;
    background-color: white;
    padding: 1em;
    border: solid 0.5px grey;
    margin-bottom: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.summary h3,
.summary p {
    font-size: 1.4em;
}

.summary h4 {
    font-size: 1.3em;
}

.summary span {
    float: right;
}

.summary button {
    width: 10%;
    margin-top: 1em;
    padding: 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    background-color: #bb5644;
    color: white;
    border: 1px solid #bb5644;
    text-align: center;
    cursor: pointer;
}

.summary button:hover {
    background-color: white;
    color: #bb5644;
}